.error {
  color: var(--error-color);
  background-color: var(--error-background-color);
  border-color: var(--error-border-color);
}

.info {
  color: var(--info-color);
  background-color: var(--info-background-color);
  border-color: var(--info-border-color);
}

.success {
  color: var(--success-color);
  background-color: var(--success-background-color);
  border-color: var(--success-border-color);
}

.warning {
  color: var(--warning-color);
  background-color: var(--warning-background-color);
  border-color: var(--warning-border-color);
}
